<h2>List of movies</h2>
<ul>
  <li *ngFor="let movie of movies">
    <p (click)="movieClicked(movie)">{{movie.title}}</p>
  </li>
</ul>

<hr>

<p>Title <input type="text" [(ngModel)]="selectedMovie.title"/></p>
<p>Desc <input type="text" [(ngModel)]="selectedMovie.desc"/></p>
<p>Year <input type="text" [(ngModel)]="selectedMovie.year"/></p>

<hr>

<button class="orange" *ngIf="selectedMovie.id != -1" (click)="updateMovie()">PUT</button>
<button class="green" *ngIf="selectedMovie.id == -1" (click)="createMovie()">POST</button>
<button class="red" *ngIf="selectedMovie.id != -1" (click)="deleteMovie()">DELETE</button>
