h2 {
  color: red;
}

button {
  color: white;
  padding: 5px;
  margin-right: 5px;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

